div {
    font-family: "Latin Modern Mono", !important;
    font-style: normal !important;
}

/* pink */
div[style*="rgb(173, 26, 114)"] {
}

/* mint */
div[style*="rgb(15, 123, 108)"] {
}

/* lavender */
div[style*="rgb(105, 64, 165)"] {
}

/* pink background */
div[style*="rgb(244, 223, 235)"] {
    background: #F9D2EE !important;
}

/* mint background */
div[style*="rgb(221, 237, 234)"] {
    background: #C4F4EE !important;
}

/* lavender background */
div[style*="rgb(234, 228, 242)"] {
    background: #BFBCF0 !important;
}
